nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  button{
    -webkit-tap-highlight-color: transparent;
    z-index: 5;
    background-color: transparent;

    .fa-regular{
      transition: 1s;
    }

    .fa-regular:hover{
      animation: move 1s infinite;
    }
  }

}

.hidden{
  visibility: hidden;
}

@keyframes move {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
