.menu{
  top: 0px;
  height: 70%;
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  
  a{
    transition: .25s;
  }

  a:hover{
    transform: scale(1.05);
  }

  a:active{
    transform: scale(.9)
  }

  .menu-button{
    
    width: 220px;
    height: 220px;
    background-color: var(--button-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    p{
      color: var(--text-color);
      font-size: 16px;
    }

    p, i{
      color: #F3F3F7;
    }
  }
}


@keyframes onClick {
  0%{
    transform: translateZ(-20px);
  }
  100%{
    transform: translateZ(-20px);
  }
}