
.menu{
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

  .options{
    z-index: -1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    a {
      transition: .25s;
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    a:after {
      content: "";
      background-color: var(--font-color-50);
      position: absolute;
      width: 300px;
      height: 300px;
      top: -250px;
      left: -250px;
      border-radius: 300px;
      transition: 0.5s;
      z-index: -1;
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }

    a:hover::after {
      transform: translate(210px, 210px) scale(1);
      transition: 0.5s;
      opacity: 1;
    }

    a:hover {
      transform: scale(1.05);
    }

    a:active {
      transform: scale(.9)
    }

    .menu-button {
      width: 220px;
      height: 220px;
      background-color: var(--button-color);
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      p {
        color: var(--text-color);
        font-size: 16px;
      }

      p,
      i {
        color: #F3F3F7;
      }
    }
  }
}


@keyframes onClick {
  0%{
    transform: translateZ(-20px);
  }
  100%{
    transform: translateZ(-20px);
  }
}


@media (max-width: 720px) {
  .menu{
    .options{
      gap: 8px;
      justify-content: space-around;
      .menu-button {
        width: 200px;
        height: 200px;
      }
    }
  }
}
